@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */
a, a:link, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */
aside, nav, footer, header, section, main {
  display: block;
}

h1, h2, h3, h4, h5, h6, p {
  font-size: inherit;
  font-weight: inherit;
}

ul, ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img, svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */
input, textarea, button, select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button, input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus, input:active,
button:focus, button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Playfair Display", serif;
}

.header {
  height: 100vh;
  position: relative;
  color: white;
}

.header a {
  color: white;
}

.header__content {
  overflow: visible;
  position: absolute;
  z-index: 9;
  top: 50px;
  left: 70px;
  right: 70px;
  bottom: 80px;
  pointer-events: none;
}
@media screen and (max-width: 1200px) {
  .header__content {
    top: 40px;
    left: 40px;
    right: 40px;
    bottom: 40px;
  }
}
@media screen and (max-width: 1200px) and (max-width: 767px) {
  .header__content {
    top: 30px;
    left: 5%;
    right: 5%;
    bottom: 30px;
  }
}

.header__socials {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0%, -50%);
  pointer-events: all;
}
@media screen and (max-width: 767px) {
  .header__socials {
    display: none;
  }
}
@media screen and (max-height: 600px) {
  .header__socials {
    top: 40%;
  }
}

.header__see-more {
  pointer-events: all;
  position: absolute;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 1023px) {
  .header__see-more {
    display: none;
  }
}

.header__slider-controls {
  pointer-events: all;
  position: absolute;
  right: 0;
  bottom: 0;
}
@media screen and (max-width: 1200px) {
  .header__slider-controls {
    display: none;
  }
}

.header__scrollbar {
  pointer-events: all;
  position: absolute;
  right: 0;
  top: 45%;
  width: 400px;
  height: 10px;
  transform: rotate(90deg) translate(50%, 0%);
  transform-origin: right top;
}
@media screen and (max-width: 767px) {
  .header__scrollbar {
    transform: none;
    top: unset;
    bottom: -15px;
    left: 0;
    right: unset;
    width: 100%;
  }
}

.slide {
  height: 100vh;
  overflow: hidden;
  padding-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #555;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  color: rgb(255, 255, 255);
  cursor: grab;
}
.slide--1 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%), url("./../img/BG/slider_01.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide--2 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%), url("./../img/BG/slider_02.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide--3 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%), url("./../img/BG/slider_03.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide--4 {
  background: radial-gradient(50% 50% at 50% 50%, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 99.99%, rgba(255, 255, 255, 0) 100%), url("./../img/BG/slider_04.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.slide::before {
  content: "";
}
.slide:active {
  cursor: grabbing;
}
@media screen and (max-width: 1200px) {
  .slide {
    padding-bottom: 60px;
  }
}
@media screen and (max-width: 1200px) {
  .slide {
    padding-top: 100px;
    padding-bottom: 40px;
  }
}

.slide__header {
  position: relative;
  text-align: center;
}

.slide__tagline {
  position: absolute;
  top: -8px;
  width: 100%;
  font-weight: 500;
  font-size: 1.56vw;
  line-height: 1.23;
  letter-spacing: 0.55em;
  color: rgba(255, 255, 255, 0.9);
}

.slide__title {
  font-size: 9vw;
  font-weight: 700;
  line-height: 1.22;
}
@media screen and (max-width: 1200px) {
  .slide__title {
    font-size: 10vw;
  }
}
.slide__title span {
  padding: 0 10px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slide__title--1 span {
  background: linear-gradient(47.06deg, #c5c4c7 -3.87%, rgba(255, 255, 255, 0) 20.89%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slide__title--2 span {
  background: linear-gradient(47.06deg, #051d27 -3.87%, rgba(255, 255, 255, 0) 20.89%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slide__title--3 span {
  background: linear-gradient(47.06deg, #09534d -3.87%, rgba(255, 255, 255, 0) 20.89%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.slide__title--4 span {
  background: linear-gradient(47.06deg, #051d27 -3.87%, rgba(255, 255, 255, 0) 20.89%), #ffffff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.slide__locations {
  display: flex;
  -moz-column-gap: 30px;
       column-gap: 30px;
  width: 70%;
  margin: 0 auto;
}
@media screen and (max-width: 1023px) {
  .slide__locations {
    width: 90%;
  }
}
@media screen and (max-width: 767px) {
  .slide__locations {
    width: 90%;
    flex-direction: column;
    row-gap: 20px;
  }
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  pointer-events: all;
}

@media screen and (max-width: 1200px) {
  .nav__list {
    display: none;
  }
}
.nav__list ul {
  display: flex;
  align-items: center;
  -moz-column-gap: 65px;
       column-gap: 65px;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.22;
}

.nav__list a {
  position: relative;
}
.nav__list a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background-color: white;
  bottom: -4px;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.nav__list a:hover::before {
  transform-origin: left;
  transform: scale(1);
}

.nav__mobile-nav {
  position: absolute;
  display: flex;
  position: relative;
  pointer-events: all;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.nav-burger {
  display: flex;
  position: relative;
  pointer-events: all;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
}

.nav-burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: rgb(250, 246, 242);
}

.nav-burger::before,
.nav-burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(250, 246, 242);
  transition: all 0.3s ease 0s;
}

.nav-burger::before {
  top: 0;
}

.nav-burger::after {
  bottom: 0;
}

.nav-burger.active span {
  transform: scale(0);
}

.nav-burger.active::before {
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.nav-burger.active::after {
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.socials {
  display: flex;
  flex-direction: column;
  row-gap: 28px;
  align-items: center;
}

.see-more {
  position: relative;
  padding-left: 60px;
  color: rgba(255, 255, 255, 0.6);
  display: block;
  transform: rotate(-90deg) translate(0%, 100%);
  transform-origin: left bottom;
}
.see-more::before {
  content: "";
  position: absolute;
  left: 0;
  top: calc(50% - 1.5px);
  width: 38px;
  height: 3px;
  background-color: rgb(255, 255, 255);
  opacity: 0.3;
}

.slider-controls {
  display: grid;
  gap: 15px;
}

.slider-controls__arrows {
  display: flex;
  gap: 5px;
  opacity: 0.5;
}

.slider-controls__count {
  display: flex;
  -moz-column-gap: 6px;
       column-gap: 6px;
  justify-content: flex-end;
  align-items: flex-end;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  text-align: right;
}

.slider-controls__count-current, .swiper-pagination-current {
  font-size: 32px;
  line-height: 0.75;
  color: rgb(255, 255, 255);
}

.locations {
  flex-grow: 1;
  position: relative;
  display: block;
  padding: 34px 20px 26px 95px;
  background-image: url("./../img/icon/link.svg");
  background-position: 35px 40px;
  background-size: auto;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1400px) {
  .locations {
    padding: 20px 20px 18px 55px;
    background-position: 15px 22px;
  }
}
.locations::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
  filter: blur(3px);
  transition: all 0.2s ease-in;
}

.locations__title {
  font-size: 20px;
  font-weight: 700;
  line-height: 1.2;
  color: rgb(255, 255, 255);
  margin-bottom: 4px;
}
@media screen and (max-width: 1400px) {
  .locations__title {
    font-size: 18px;
  }
}

.locations__link {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: rgb(255, 255, 255);
  opacity: 0.4;
}

.swiper-scrollbar {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.3) !important;
}

.swiper-scrollbar-drag {
  border-radius: 0 !important;
  background-color: rgb(255, 255, 255) !important;
}

.mobile-nav-overlay {
  opacity: 0;
  z-index: 99;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  transition: all 0.4s ease-in;
}

.mobile-nav-overlay.open {
  opacity: 1;
  pointer-events: all;
}

.mobile-nav {
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  transform: translate(100%, 0%);
  height: 100vh;
  width: 500px;
  padding: 80px 60px 40px;
  background: rgb(0, 0, 0);
  transition: transform 0.4s ease-in;
}
@media screen and (max-width: 767px) {
  .mobile-nav {
    width: 320px;
    padding: 40px 30px 0;
  }
}
@media screen and (max-width: 280px) {
  .mobile-nav {
    width: 100%;
  }
}

.mobile-nav.open {
  transform: translate(0%, 0%);
}

.mobile-nav__nav {
  position: fixed;
  top: 50px;
  right: 50px;
  width: 48px;
  height: 49px;
  pointer-events: none;
  z-index: 150;
}
@media screen and (max-width: 767px) {
  .mobile-nav__nav {
    top: 30px;
    right: 50px;
    width: 42px;
    height: 42px;
  }
}

.mobile-nav__nav-burger {
  display: flex;
  position: relative;
  align-items: center;
  justify-content: flex-end;
  width: 30px;
  height: 18px;
  z-index: 120;
  pointer-events: all;
}

.mobile-nav__nav-burger span {
  height: 2px;
  width: 80%;
  transform: scale(1);
  background-color: rgb(250, 246, 242);
}

.mobile-nav__nav-burger::before,
.mobile-nav__nav-burger::after {
  content: "";
  position: absolute;
  height: 2px;
  width: 100%;
  background-color: rgb(250, 246, 242);
  transition: all 0.3s ease 0s;
}

.mobile-nav__nav-burger::before {
  top: 0;
}

.mobile-nav__nav-burger::after {
  bottom: 0;
}

.mobile-nav__nav-burger.active span {
  z-index: 101;
  transform: scale(0);
}

.mobile-nav__nav-burger.active::before {
  z-index: 101;
  top: 50%;
  transform: rotate(-45deg) translate(0, -50%);
}

.mobile-nav__nav-burger.active::after {
  z-index: 101;
  bottom: 50%;
  transform: rotate(45deg) translate(0, 50%);
}

.mobile-nav__list {
  font-size: 22px;
}
@media screen and (max-width: 767px) {
  .mobile-nav__list {
    font-size: 18px;
  }
}
.mobile-nav__list li {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.mobile-nav__list a {
  display: block;
  padding: 30px 0px;
  transition: all 0.2s ease-in;
}
@media screen and (max-width: 767px) {
  .mobile-nav__list a {
    padding: 15px 0;
  }
}
.mobile-nav__list a:hover {
  padding-left: 20px;
}/*# sourceMappingURL=main.css.map */